{% extends "base.html" %}
{% load static %}
{% block title %}<title>Japaklan kitaphanasy</title>{% endblock %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}

    <h5 class="text-center">Author List</h5>

    {% if author_list %}
        <ul>
            {% for author in author_list %}
                <li>
                    <a href="{{ author.get_absolute_url }}">{{ author }}</a>
                     - <strong>Birth: </strong>{{author.date_of_birth}} - <strong>Death: </strong>{% if author.date_of_death %}{{author.date_of_death}}{% endif %}
                     - <strong>Email: </strong>{{ author.email }}
                    </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no authors available.</p>
    {% endif %}

{% endblock main %}