{% extends "base.html" %}
{% load static %}
{% block title %}<title>Japaklan kitaphanasy</title>{% endblock %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
{% csrf_token %}

    <h5><strong>Kafedra: </strong>{{ videobase.fk_kafedra }}</h5>
    
    <p><strong>Teacher: </strong>{{ videobase.fk_teacher }}</p> <!-- author detail link not yet defined -->
    <p><strong>Language:</strong> {{ videobase.fk_language }}</p>
    <p><strong>Tema:</strong> {{ videobase.title }}</p>  
    <p><strong>Zanatie:</strong> {{ videobase.tema_number }}</p>
    <p><a href="{{ videobase.get_videobase_pat }}"><button class="btn btn-primary">Read lection</button></a> </p>
    
{% endblock main %}