{% extends "base.html" %}
{% load static %}
{% block title %}<title>Japaklan kitaphanasy</title>{% endblock %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
{% csrf_token %}
    <h5 class="text-center">predmet_list</h5>

    {% if predmet_list %}
        <ul>
            {% for pred in predmet_list %}
                
                <li>
                    <a href="{{ pred.get_absolute_url }}">{{ pred.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no predmety in the library.</p>
    {% endif %}

{% endblock main %}