{% extends "base.html" %}
{% load static %}
{% block title %}<title>Japaklan kitaphanasy</title>{% endblock %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
{% csrf_token %}

    <h5><strong>Sapak gornush: </strong>{{ predmet.name }}.</h5>
    
    {% for sapak_gornush in flush_from_predmet %}
        <div>
            <h5><strong>Title: </strong>{{ sapak_gornush.title }}
                <a href="{{ sapak_gornush.get_absolute_url }}"> -> go presentations</a></h5>
        </div>        
    {% endfor %}

{% endblock main %}