{% extends "base.html" %}
{% load static %}
{% block title %}<title>Japaklan kitaphanasy</title>{% endblock %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
{% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5>The library has the following record counts: {{ found_books.count }}</h5>
                {% for book in found_books %}
                    <h7>
                        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                        <p>{{ book.counter|truncatewords:30 }}</p> 
                    </h7>
            {% endfor %}


            </div>
        </div>
    </div>
{% endblock main %}